/* font-family: 'Montserrat', sans-serif;
   font-family: 'Oswald', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
.header_img{
   background-image: url(../images/Dunce-bacground.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
}
header{   
    position: relative;
}
.sub_header{
    background-color: #303030;
}
.logo{
    width: 100px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 25px;
    padding: 0;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    position: relative;
}
.navbar-light .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #ff6309;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 100%;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.header_img h1{
    color: #fff;
    text-transform: capitalize;
    font-size: 100px;
    font-weight: 700;
    margin-top: 200px;
    font-family: 'Oswald', sans-serif;
}
.header_img p{
    color: #fff;
    font-size: 30px;
    margin-bottom: 70px;
    font-family: 'Montserrat', sans-serif;
}
.header_img a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 30px;
    font-size: 30px;
    background: #ff6309;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    border-radius: 0;
}
.header_img a:hover{
background-color: #303030;
color: #ff6309;
}
.dance_section{
    background-image: url(../images/firat-shap.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 50px 0;
    background-color: #ff6309;
    background-size: 50%;
}
.dance_content h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.dance_content p{
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.ture h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.ture {
    text-align: center;
    background: #303030;
    padding: 15px 0;
}
.ture p{
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.pricing_section{
    background-color: #303030;
    position: relative;
    z-index: 0;
}
.pricing_header h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.pricing_header p{
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.pricing_table{
    background: #ff6309;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}
.pricing_title h1{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}
.pricing_title p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.pricing_table a{
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
.pricing_icon{
    padding: 50px 0;
}
.pricing_title button{   
    border: none;  
    border: none;  
    background: #303030;   
    margin-bottom: 20px;   
    width: 87%;       
    font-size: 30px;     
    border-radius: 5px;    
    padding: 5px 0;
    
}
.pricing_title button:hover{
    background: #fff;  
}
.pricing_title button:hover a{
    color: #303030;
}
.amazing_dance{
    padding: 50% 50px;
}
.amazing_dance h1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.amazing_dance p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
.amazing_dance button{
    border: none;
    background: #303030;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 50px;
    font-family: 'Oswald', sans-serif;
}
.amazing_dance button:hover{
    background-color: #fff;
    color: #303030;
    
}
.statistics_section{
    background: #303030;
    position: relative;
    z-index: 0;
}
.our_content h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.our_content p{
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.our_section{
    padding: 100px 0;
    text-align: center;
}
.particles-js-canvas-el{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.our_section h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.our_section h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.herbert_section{
    background-image: url(../images/background-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 410px 0;
    background-attachment: fixed;
}
.herbert_section h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.herbert_section p{
    color: #fff;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.subscribe_section{
  background-image: url(../images/newslater-shape.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding: 160px 0;
    position: relative;
    background-color: #ff6309;
}
.subsceibe h1{
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
.subsceibe p{
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.subsceibe input{
    width: 50%;
    margin: auto;
    border-radius: 0%;
    padding: 13px;
    /* position: relative; */
}
.subsceibe button{
    background: #303030;
    color: #fff;
    border: none;
    padding: 13px 40px;
    text-transform: uppercase;
    font-size: 19px;
    position: absolute;
    top: 64%;
    right: 28%;
}
.subsceibe button a{
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: #303030;
    padding: 50px 0;
}
.frist_title h1{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-family: 'Oswald', sans-serif;
}
.frist_title p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.frist_title ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.frist_title ul li a{
    text-decoration: none;
}
.frist_title ul li a i{
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #303030;
    border-radius: 50%;
}
.about h1{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
.about ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.about ul li{
    margin-bottom: 10px;
}
.about ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
.about ul li:hover a{
    color: #ff6309;
}
header .particles-js-canvas-el{       
    position: absolute;   
    top: 0;    
    left: 0;
}